/*Pal - Love, Colourpod

brown #3A3335 
viol #d81e5b 
red #f0544f 
tan #fdf0d5 
grey #c6d8d3 */


body, html
{
	margin: 0;
	padding: 0;
	/*background: url(four.png) 50% 0 repeat ;*/
}

nav 
{ 
    margin: 0; 
	position: absolute;
    overflow: hidden;
	padding-left: 300px;
	padding-top: 27px; 
}

nav ul li 
{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #fdf0d5;
    line-height: 10px;
	text-decoration: none;
	padding-right: 70px; 

}



.title
{
	font-family: 'Roboto Condensed', sans-serif;
	color: #fdf0d5;
	position: absolute;
    left: 50px;
    top: 15px;
}

#about_title
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	color: #3A3335;

}

#about_p
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	color: #3A3335;
}

#container
{
	margin: 0%;
}

#top
{
	background-color: #3A3335;  
	height: 100px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

#mid
{
	background-color: #c6d8d3;  
	height: 60%; 
	margin: auto; 
	width: 60%;  
	position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
	
	text-align: center;
}

#btm
{
	background-color: #3A3335;  
	height: 100px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

#home 
{ 
	background: url(one.png) 50% 0 repeat fixed; 
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

#base
{ 
	background: url(one.png) 50% 0 repeat fixed; 
	height: 200px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

#home article 
{ 
	background: url(intro.png) no-repeat scroll center top transparent;
	height: 100px; 
	position: absolute; 
	text-align: center; 
	top: 150px; 
	width: 100%; 
}
 
#about 
{ 
	background: url(two.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article 
{ 
  height: 300x; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  color: white;
}

#team
{
	list-style-type: none;
}